<%!
  import subprocess
  import glob

  def makeRst(lua, lang):
    extension = "lua"

    if lang == "lua":
      extension = "lua"
    elif lang == "python":
      extension = "py"

    fls = glob.glob("%s/%s-*.%s" % (lua, lua, extension))
    if (len(fls)>0):
      subprocess.Popen(["python", "./code/mkluarst.py", "-l", fls[0], "-x", lang])
      return fls[0][:fls[0].find(".")]
    return ""
%>
<%def name="mdl(sim, lang='lua')"><% luaFl = makeRst(sim, lang) %>:doc:`${sim} <${luaFl}>` </%def>
Simulation Index
================

Following is a list of simulation numbers with one-line
descriptions. Click on the simulation number to see the complete Lua
program for that simulation.

.. list-table::
  :header-rows: 1
  :widths: 10,90

  * - Number
    - Description
  * - ${mdl("s1")}
    - Poisson solve on a 2D periodic grid, with Gaussian source
  * - ${mdl("s2")}
    - Poisson solve on a 2D periodic grid, with anisotropic Gaussian source
  * - ${mdl("s3")}
    - Poisson solve on a 2D periodic grid, with source a sum of two Gaussians
  * - ${mdl("s4")}
    - Same as s3, but with different grid spacing in X and Y.
  * - ${mdl("s5")}
    - 1D Euler Sod-shock with sonic point in rarefaction. Wave-propagation algorithm.
  * - ${mdl("s6")}
    - Exact solution to s5.
  * - ${mdl("s7")}
    - Same as s5, except using the MUSCL-Hancock scheme.
  * - ${mdl("s8")}
    - 1D Euler shock with low density/pressure region. Wave-propagation scheme.
  * - ${mdl("s9")}
    - Exact solution to s8.
  * - ${mdl("s10")}
    - Same as s8, except using the MUSCL-Hancock scheme.
  * - ${mdl("s11")}
    - 1D Noh problem. Wave-propagation algorithm.
  * - ${mdl("s12")}
    - Exact solution to s11.
  * - ${mdl("s13")}
    - Same as s11, except using the MUSCL-Hancock scheme.
  * - ${mdl("s14")}
    - 1D Euler shock with a stationary contact discontinuity. Wave-propagation scheme.
  * - ${mdl("s15")}
    - Exact solution to s14
  * - ${mdl("s16")}
    - Same as s14, except using the MUSCL-Hancock scheme.
  * - ${mdl("s17")}
    - 1D Euler shock with two strong shocks. Wave-propagation scheme.
  * - ${mdl("s18")}
    - Exact solution to s17
  * - ${mdl("s19")}
    - Same as s17, except using the MUSCL-Hancock scheme.
  * - ${mdl("s20")}
    - 1D Euler with stationary contact discontinuity. Wave-propagation scheme.
  * - ${mdl("s21")}
    - Exact solution to s20
  * - ${mdl("s22")}
    - Same as s20, except using the MUSCL-Hancock scheme.
  * - ${mdl("s23")}
    - 1D Euler with slowly moving contact discontinuity. Wave-propagation scheme.
  * - ${mdl("s24")}
    - Exact solution to s23
  * - ${mdl("s25")}
    - Same as s23, except using the MUSCL-Hancock scheme.
  * - ${mdl("s26")}
    - 1D Euler with sharp spike in density. Wave-propagation scheme.
  * - ${mdl("s27")}
    - Exact solution to s26
  * - ${mdl("s28")}
    - Same as s26, except using the MUSCL-Hancock scheme.
  * - ${mdl("s29")}
    - 1D Euler Woodward-Collela blast wave problem. Wave-propagation scheme.
  * - ${mdl("s30")}
    - Same as s29 run with higher-resolution to serve as an "exact" solution.
  * - ${mdl("s31")}
    - Same as s29, except using the MUSCL-Hancock scheme.
  * - ${mdl("s32")}
    - Slab RTE with Mie scattering with :math:`L=8`.
  * - ${mdl("s33")}
    - Slab RTE with Haze-L phase function with :math:`L=82`.
  * - ${mdl("s34")}
    - Same as s33 but with :math:`\mu_0=0.5`.
  * - ${mdl("s35")}
    - Same as s33 but with :math:`\varpi=1.0`.
  * - ${mdl("s36")}
    - Two-fluid shock problem with :math:`q_i/m_i = 1.0`.
  * - ${mdl("s37")}
    - Two-fluid shock problem with :math:`q_i/m_i = 10.0`.
  * - ${mdl("s38")}
    - Two-fluid shock problem with :math:`q_i/m_i = 100.0`
  * - ${mdl("s39")}
    - Two-fluid shock problem with :math:`q_i/m_i = 1000.0`
  * - ${mdl("s40")}
    - Dispersive Euler equations with :math:`\omega_c = 10` and 100 cells.
  * - ${mdl("s41", "python")}
    - Exact solution of dispersive Euler equations.
  * - ${mdl("s42")}
    - Dispersive Euler equations with :math:`\omega_c = 10` and 200 cells.
  * - ${mdl("s43")}
    - Dispersive Euler equations with :math:`\omega_c = 10` and 300 cells.
  * - ${mdl("s44")}
    - Dispersive Euler equations with :math:`\omega_c = 10` and 400 cells.
  * - ${mdl("s45")}
    - Dispersive Euler equations with :math:`\omega_c = 100` and 200 cells.
  * - ${mdl("s46")}
    - Dispersive Euler equations with :math:`\omega_c = 100` and 400 cells.
  * - ${mdl("s47")}
    - Sod-shock for dispersive Euler equations.
  * - ${mdl("s48")}
    - Same as s45 but larger time-step.
  * - ${mdl("s49")}
    - Wave-propagation scheme for Maxwell equation TM (8,5) mode, :math:`80\times 40` grid.
  * - ${mdl("s50")}
    - Same as s49 but with :math:`160\times 80` grid.
  * - ${mdl("s51")}
    - Same as s49 but with :math:`240\times 120` grid.
  * - ${mdl("s52")}
    - Same as s49 but with :math:`320\times 160` grid.
  * - ${mdl("s53")}
    - FDTD scheme for Maxwell equation TM (8,5) mode, :math:`80\times 40` grid.
  * - ${mdl("s54")}
    - Same as s53 but with :math:`160\times 80` grid.
  * - ${mdl("s55")}
    - Same as s53 but with :math:`240\times 120` grid.
  * - ${mdl("s56")}
    - Same as s53 but with :math:`320\times 160` grid.
  * - ${mdl("s57")}
    - Pulse in metal box with wave-propagation scheme.
  * - ${mdl("s58")}
    - Pulse in metal box with FDTD scheme.
  * - ${mdl("s59")}
    - Same as s58 but using a :math:`400 \times 400` grid.
  * - ${mdl("s60")}
    - Same as s58 but using a :math:`400 \times 400` grid.
  * - ${mdl("s61")}
    - 1D Riemann problem with wave-propagation scheme.
  * - ${mdl("s62")}
    - 1D Riemann problem with FDTD scheme.
  * - ${mdl("s63")}
    - FDTD scheme on dual Yee-cell for Maxwell equation TM (8,5) mode,
      :math:`80\times 40` grid.
  * - ${mdl("s64")}
    - FDTD scheme on dual Yee-cell for Maxwell equation. Pulse problem.
  * - ${mdl("s65")}
    - Plasma wave beach problem, without the plasma. Using 100 cells.
  * - ${mdl("s66")}
    - Plasma wave beach problem, without the plasma. Using 200 cells.
  * - ${mdl("s67")}
    - Plasma wave beach problem using 100 cells.
  * - ${mdl("s68")}
    - Plasma wave beach problem using 200 cells.
  * - ${mdl("s69")}
    - Plasma wave beach problem using 400 cells.
  * - ${mdl("s70")}
    - Plasma wave beach problem using 800 cells.
  * - ${mdl("s71")}
    - Plasma wave beach problem using 1600 cells.
  * - ${mdl("s72")}
    - Tunneling through an electron-cyclotron cutoff layer, 200 cells
  * - ${mdl("s73")}
    - Tunneling through an electron-cyclotron cutoff layer, 400 cells
  * - ${mdl("s74")}
    - Ion-cyclotron wave propagation in a 1D tokamak-like configuration, 400 cells.
  * - ${mdl("s75")}
    - Ion-cyclotron wave propagation in a 1D tokamak-like configuration, 200 cells.
      This simulation does not work very well as the resolution is too low.
  * - ${mdl("s76")}
    - Ion-cyclotron wave propagation in a 1D tokamak-like configuration, 
      low-field incidence.
  * - ${mdl("s77")}
    - 1D Poisson convergence test with 8 elements.
  * - ${mdl("s78")}
    - 1D Poisson convergence test with 16 elements.
  * - ${mdl("s79")}
    - 1D Poisson convergence test with 32 elements.
  * - ${mdl("s80")}
    - 1D Poisson convergence test with 64 elements.
  * - ${mdl("s81")}
    - 1D Poisson convergence test with 8 elements and Dirichlet/Neumann Bcs.
  * - ${mdl("s82")}
    - 1D Poisson convergence test with 16 elements and Dirichlet/Neumann Bcs.
  * - ${mdl("s83")}
    - 1D Poisson convergence test with 32 elements and Dirichlet/Neumann Bcs.
  * - ${mdl("s84")}
    - 1D Poisson convergence test with 64 elements and Dirichlet/Neumann Bcs.
  * - ${mdl("s85")}
    - 2D Poisson convergence test with :math:`8\times 8` elements.
  * - ${mdl("s86")}
    - Same as s86, except with :math:`16 \times 16` elements.
  * - ${mdl("s87")}
    - Same as s86, except with :math:`32 \times 32` elements.
  * - ${mdl("s88")}
    - Same as s86, except with :math:`64 \times 64` elements.
  * - ${mdl("s89")}
    - 1D Poisson convergence test, 3rd order scheme, with 4 elements.
  * - ${mdl("s90")}
    - 1D Poisson convergence test, 3rd order scheme, with 8 elements.
  * - ${mdl("s91")}
    - 1D Poisson convergence test, 3rd order scheme, with 16 elements.
  * - ${mdl("s92")}
    - 1D Poisson convergence test, 3rd order scheme, with 32 elements.
  * - ${mdl("s93")}
    - 1D Poisson convergence test, 4th order scheme, with 2 elements.
  * - ${mdl("s94")}
    - 1D Poisson convergence test, 4th order scheme, with 4 elements.
  * - ${mdl("s95")}
    - 1D Poisson convergence test, 4th order scheme, with 8 elements.
  * - ${mdl("s96")}
    - 1D Poisson convergence test, 4th order scheme, with 16 elements.
  * - ${mdl("s97")}
    - 2D Poisson convergence test, 3rd order scheme, with :math:`4\times 4` elements.
  * - ${mdl("s98")}
    - 2D Poisson convergence test, 3rd order scheme, with :math:`8\times 8` elements.
  * - ${mdl("s99")}
    - 2D Poisson convergence test, 3rd order scheme, with :math:`16\times 16` elements.
  * - ${mdl("s100")}
    - 2D Poisson convergence test, 3rd order scheme, with :math:`32\times 32` elements.
  * - ${mdl("s101")}
    - 2D Poisson convergence test with periodic BCs and :math:`32\times 32` elements
  * - ${mdl("s102")}
    - 2D Poisson convergence test with periodic BCs and :math:`64\times 64` elements
  * - ${mdl("s103")}
    - 2D Poisson convergence test with periodic BCs and :math:`128\times 128` elements
  * - ${mdl("s104")}
    - Temporal convergence study of Poisson bracket with Gaussian pulse. CFL 0.2.
  * - ${mdl("s105")}
    - Temporal convergence study of Poisson bracket with Gaussian pulse. CFL 0.1.
  * - ${mdl("s106")}
    - Temporal convergence study of Poisson bracket with Gaussian pulse. CFL 0.05.
  * - ${mdl("s107")}
    - Temporal convergence study of Poisson bracket with Gaussian pulse. CFL 0.025.
  * - ${mdl("s108")}
    - Same as s104, except with RK3 time-stepping.
  * - ${mdl("s109")}
    - Same as s108. CFL 0.1.
  * - ${mdl("s110")}
    - Same as s108. CFL 0.05.
  * - ${mdl("s111")}
    - Same as s108. CFL 0.025.
  * - ${mdl("s112")}
    - Convergence of Poisson bracket algorithm with 2nd order scheme, :math:`32\times 32` grid.
  * - ${mdl("s113")}
    - Convergence of Poisson bracket algorithm with 2nd order scheme, :math:`64\times 64` grid.
  * - ${mdl("s114")}
    - Convergence of Poisson bracket algorithm with 2nd order scheme, :math:`128\times 128` grid.
  * - ${mdl("s115")}
    - Convergence of Poisson bracket algorithm with 3rd order scheme, :math:`8\times 8` grid.
  * - ${mdl("s116")}
    - Same as s115, except with :math:`16\times 16` grid.
  * - ${mdl("s117")}
    - Same as s115, except with :math:`32\times 32` grid.
  * - ${mdl("s118")}
    - Rigid-body rotation problem for Poisson bracket, with :math:`32\times 32` grid.
  * - ${mdl("s119")}
    - Same as s118, except on :math:`64\times 64` grid.
  * - ${mdl("s120")}
    - Same as s118, except with 3-order spatial scheme.
  * - ${mdl("s121")}
    - Swirling flow problem with 3-order spatial scheme on :math:`32\times 32` grid.
  * - ${mdl("s122")}
    - Swirling flow problem with 2-order spatial scheme, :math:`32\times 32` grid, updwind fluxes.
  * - ${mdl("s123")}
    - Same as s122, except with central fluxes.
  * - ${mdl("s124")}
    - Same as s122, except with 3-order scheme.
  * - ${mdl("s125")}
    - Same as s124, except with central fluxes.
